<!-- Home page of OurSpace after login

This allows the use of a different stylesheet rather than application.css which is more
for general styling like the body. -->

<%= stylesheet_link_tag "homePage.css" %>


<div class="container">

    <%= render "home/navBar" %>

    <canvas class="mainCanvas"></canvas> 
</div> 

<!-- includes the JS file for handeling lines and paint --> 
<%= javascript_include_tag "canvasLogic" %> 
