/* Style Sheet for home page*/

/* entire screen container */
.container{
    display: flex;
    height: 100vh;
}

/* main drawing canvas*/
.mainCanvas {
    flex-grow: 1;
    height: 100vh;
    background-color: white; 
}